<html lang="en">
  <%- include('./common/head.ejs') %>

  <body>
    <%- include('./common/navbar.ejs') %>

    <div class="main-container vertical-container">
      <div class="section-container">
        <h1>Hot nhất</h1>
        <div class="grid-list">
          <% popularProducts.forEach(product => { %>
            <%- include('./common/product-grid-item.ejs', { product }) %>
          <% }) %>
        </div>
      </div>

      <div class="section-container">
        <h1>Mới nhất</h1>
        <div class="grid-list">
          <% recentProducts.forEach(product => { %>
            <%- include('./common/product-grid-item.ejs', { product }) %>
          <% }) %>
        </div>
      </div>
    </div>

    <%- include('./common/footer.ejs') %>
  </body>
</html>
