<html lang="en">
  <%- include('./common/head.ejs') %>

  <body>
    <%- include('./common/navbar.ejs') %>

    <div class="main-container vertical-container">
      <h1>Đơn hàng</h1>
      <div class="vertical-list">
        <% orders.forEach(order => { %>
          <div class="list-item item-shadow">
            <img
              class="list-item-image"
              src="https://cityfarmer.vn/wp-content/uploads/2019/04/raumuong-1024x683.jpg"
            />
            <p class="item-title list-item-middle-area">
              <a href="/my-orders/<%= order.id %>"
                >Order #<%= order.id %></a
              >
            </p>
            <div class="list-item-right-area">
              <p class="item-title">Đặt vào: <%= order.creationTime.toLocaleString() %></p>
              <p class="item-title"><%= order.totalAmount %> ₫</p>
            </div>
          </div>
        <% }) %>
      </div>
    </div>

    <%- include('./common/footer.ejs') %>
    <script src="scripts/my-cart.js" />
  </body>
</html>
