<html lang="en">
  <%- include('./common/head.ejs') %>

  <body>
    <%- include('./common/navbar.ejs') %>
    <div class="main-container">
      <p class="_order-id">Thông tin Order <%= order.id %></p>
      
        <div class="grid-orderinfo item-shadow"> 
          <div class="vertical-orderinfo">
            <div class="grid-order-section">
              <div class="grid-order-info">
                  <p class="_section-name">Địa chỉ</p>
                <p class="item-content"><%= order.deliveryAddress %></p>
              </div>
            </div>
              <div class="grid-order-section">
                <div class="grid-order-info">
                    <p class="_section-name">Tạo vào</p>
                  <p class="item-content"><%= order.creationTime %></p>
                </div>
            </div>
          </div>
        <div class="vertical-orderinfo">
          <div class="grid-order-section">
            <div class="grid-order-info">
                <p class="_section-name">Trạng thái</p>
              <p class="item-content"><%= order.status %></p>
            </div>
          </div>
            <div class="grid-order-section">
              <div class="grid-order-info">
                  <p class="_section-name">Hoàn tất</p>
                <p class="item-content"><%= order.finishedTime %></p>
              </div>
          </div>
        </div>
      </div>
      

      <div class="vertical-list">
        <% order.items.forEach(item => { %>
          <div class="vertical-list-item item-shadow">
            <img
              class="vertical-list-item-image"
              src="https://cityfarmer.vn/wp-content/uploads/2019/04/raumuong-1024x683.jpg"
            />
            <p
              class="item-title vertical-list-item-area vertical-list-item-middle-area"
            >
              <a href="/products/<%= item.productId %>"
                ><%= item.product.name %></a
              >
            </p>
            <div class="vertical-list-item-area vertical-list-item-right-area">
              <p class="item-title">SL: <%= item.quantity %></p>
              <p class="item-title"><%= item.unitPrice %> ₫</p>
            </div>
          </div>
        <% }) %>
      </div>

      <div class="total-amount-container">
        <p class="total-amount-title">Tổng cộng</p>
        <p class="total-amount-value"><%= order.totalAmount %> ₫</p>
      </div>

      <% if (isCancelable) { %>
        <button id="order-cancel-btn" data-orderId="<%= order.id %>">
          Cancel
        </button>
      <% } %>
    </div>


    <%- include('./common/footer.ejs') %>

    <script src="/scripts/order-details.js"></script>
  </body>
</html>


