<html lang="en">
  <%- include('./common/head.ejs') %>

  <body>
    <%- include('./common/navbar.ejs') %>

    <div class="main-container vertical-container">
      <h1>Tất cả sản phẩm</h1>
      <div class="grid-list">
        <% products.forEach(product => { %>
          <div class="grid-item item-shadow">
            <img
              class="grid-item-image"
              src="https://cityfarmer.vn/wp-content/uploads/2019/04/raumuong-1024x683.jpg"
            />
            <div class="grid-item-info">
              <p class="item-title">
                <a href="/products/<%= product.id %>"><%= product.name %></a>
              </p>
              <p class="item-subtitle"><%= product.category.name %></p>
              <p class="item-subtitle right-text"><%= product.price %> ₫</p>
            </div>
          </div>
        <% }) %>
      </div>
    </div>

    <%- include('./common/footer.ejs') %>
  </body>
</html>
