<html lang="en">
  <%- include('./common/head.ejs') %>

  <body>
    <%- include('./common/navbar.ejs') %>

    <div class="single-item">
      <div class="left-set">
        <img src="https://cityfarmer.vn/wp-content/uploads/2019/04/raumuong-1024x683.jpg" alt="" />
      </div>
      <div class="right-set">
        <div class="name"><%= product.name %></div>
        <div class="price"><%= product.price %>đ</div>
        <div class="description">
          <p>Loại: <%= product.category.name %></p>
        </div>
        <div class="description">
          <p>Số lượt mua: <%= product.buyCount %></p>
        </div>
        <form action="/my-cart" method="post">
          <input
            type="number"
            name="productId"
            hidden
            value="<%= product.id %>"
          />
          <div class="cart-padding">
            <input type="number" name="quantity" min="1" value="<%= cartQuantity %>" />
          </div>
          <div class="cart-padding">
            <input type="submit" value="Add to Cart" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>

