<html lang="en">
  <%- include('./common/head.ejs') %>

  <body>
    <%- include('./common/navbar.ejs') %>

    <div class="main-container">
      <div class="section-container">
        <% if (searchTerm) { %>
          <h1>
            Các sản phẩm với tên "<%= searchTerm %>" (<%= products.length %> kết
            quả)
          </h1>
        <% } else { %>
          <h1>Tất cả sản phẩm</h1>
        <% } %>
        <% if (products.length === 0) { %>
          <div class="grey-message-box">
            <p>Không tìm thấy sản phẩm nào với tên "<%= searchTerm %>"</p>
          </div>
        <% } else { %>
          <div class="grid-list">
            <% products.forEach(product => { %>
              <%- include('./common/product-grid-item.ejs', { product }) %>
            <% }) %>
          </div>
        <% } %>
      </div>
    </div>

    <%- include('./common/footer.ejs') %>
  </body>
</html>
