<html lang="en">
  <%- include('./common/head.ejs') %>

  <body>
    <%- include('./common/navbar.ejs') %>

    <div class="main-container vertical-container">
      <p class="title">Product details</p><br>
      <p>Tên: <%= product.name %></p><br>
      <p>Giá: <%= product.price %></p><br>
      <p>Loại: <%= product.category.name %></p><br>
      <p>Số lượt mua: <%= product.buyCount %></p>
    </div>

    <%- include('./common/footer.ejs') %>
  </body>
</html>
