<html lang="en">
  <%- include('./common/head.ejs') %>

  <body>
    <%- include('./common/navbar.ejs') %>

<div class="main-container vertical-container">
  <div class="centered item-shadow">
      <img width="50%" height="100%" src="https://cityfarmer.vn/wp-content/uploads/2019/04/raumuong-1024x683.jpg">
    <div class="vertical-list">
      <div class="name"><%= product.name %></div>
      <div class="price"><%= product.price %>đ</div>
      <div>
        <p class="description-product">Loại: <%= product.category.name %></p>
      </div>
      <div>
        <p class="description-product"> Số lượt mua: <%= product.buyCount %></p>
      </div>
      <form action="/my-cart" method="post">
        <input
          type="number"
          name="productId"
          hidden
          value="<%= product.id %>"
        />
        <div class="product-padding">
          <input style='font-size: 24px;' type="number" name="quantity" min="1" value="<%= cartQuantity %>" />
        </div>
        <div class="product-padding">
          <input style='font-size: 24px;' type="submit" value="Add to Cart" />
        </div>
      </form>
    </div>
</div>


</div>

    <div class="main-container vertical-container">
      <div class="section-container">
        <h1>Hot nhất</h1>
        <div class="grid-list">
          <% popularProducts.forEach(product => { %>
            <div class="grid-item item-shadow">
              <img
                class="grid-item-image"
                src="https://cityfarmer.vn/wp-content/uploads/2019/04/raumuong-1024x683.jpg"
              />
              <div class="grid-item-info">
                <p class="item-title">
                  <a href="/products/<%= product.id %>"><%= product.name %></a>
                </p>
                <p class="item-subtitle"><%= product.category.name %></p>
                <p class="item-subtitle right-text"><%= product.price %> ₫</p>
              </div>
            </div>
          <% }) %>
        </div>
      </div>

  </body>
</html>

